<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
	<meta charset="UTF-8">
	<script th:src="@{index.js}"></script>
	<link rel="stylesheet" th:href="@{style.css}">
</head>
<div layout:fragment="content">
	<div class="p-2 p-md-4">
		<div>
			<h1 class="h3 text-center" th:if="${event.getId()}">Editar Evento</h1>
			<h1 class="h3 text-center" th:unless="${event.getId()}">Novo Evento</h1>
		</div>
		<div class="alert alert-success" th:if="${message != null}" th:text="${message}">
		</div>
		<div>
			<form method="POST" th:object="${event}" th:action="@{/event/edit}" class="form-inline">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">

					<div class="p-2 col-12 col-lg-6 col-xxl-4">
						<div class="card text-white bg-secondary">
							<div class="card-header">
								<h2 class="h4 text-center">Informações gerais</h2>
							</div>
							<div class="card-body px-3"
								style="overflow-y: scroll; height:auto; height:auto; max-height: 80vh;">
								<input type="hidden" th:field="*{id}">

								<div class="form-group">
									<div class="input-group mb-3">
										<span class="input-group-text" id="evt-name">Nome
											do Evento:</span>
										<input type="text" class="form-control" aria-label="Sizing example input"
											th:field="*{name}" aria-describedby="evt-name">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group mb-3">
										<span class="input-group-text" id="evt-start">Inicio:</span>
										<input type="date" class="form-control" aria-label="Sizing example input"
											th:field="*{start}" aria-describedby="evt-start">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group mb-3">
										<span class="input-group-text" id="evt-end">Fim:</span>
										<input type="date" class="form-control" aria-label="Sizing example input"
											th:field="*{end}" aria-describedby="evt-end">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group mb-3">
										<span class="input-group-text" id="evt-img">URL da Imagem:</span>
										<input type="text" class="form-control" aria-label="Sizing example input"
											th:field="*{end}" aria-describedby="evt-img">
									</div>
								</div>


								<div>
									<h3 class="h5">Listas de Presença</h3>
									<div class="form-group form-check form-switch">
										<label for="evt-week">Presenças no fim de Semana?</label>
										<input type="checkbox" id="evt-week" class="form-check-input"
											th:field="*{weekendIncluded}">
									</div>
									<div>
										<div class="wrapper-attendance-lists">
											<div th:each="attendance : ${attendanceList}">
												<a th:class="${attendance.isInThePast()} ? 'p-1 btn btn-success' : 'p-1 btn btn-primary'"
													th:href="@{/event/attendance-list?id=} + ${attendance.id} + '&eventId=' + ${event.id}">
													<div class="d-flex flex-column align-content-center"
														style="min-width: 100px;">
														<p th:text="${attendance.getDayInPortuguese()}"></p>
														<p th:text="${attendance.getTitle()}"></p>
													</div>
												</a>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center mb-3">
								<p class="btn btn-primary mt-2" style="opacity: 0;">p</p>
							</div>
						</div>
					</div>

					<div class="p-2 col-12 col-lg-6 col-xxl-4">
						<div class="card text-white bg-secondary">
							<div class="card-header">
								<h2 class="h4 text-center">Atividades</h2>
							</div>
							<div class="card-body px-3" style="overflow-y: scroll; height:auto; max-height: 80vh;"
								activity-container>
								<div th:each="activity, iterActivity: *{activities}" class="card p-1 mb-3">
									<div class="card-header">
										<div class="d-flex justify-content-between mb-2 mt-1">
											<input type="hidden" th:field="*{activities[__${iterActivity.index}__].id}">

											<div class="form-group">
												<div class="input-group mb-3">
													<span class="input-group-text" id="inputGroup-sizing-default">Nome
														da Atividade:</span>
													<input type="text" class="form-control"
														aria-label="Sizing example input"
														th:field="*{activities[__${iterActivity.index}__].name}"
														aria-describedby="inputGroup-sizing-default">
												</div>
											</div>
											<button class="btn btn-outline-danger align-self-start"
												onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode)">Remover</button>
										</div>
									</div>

									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text" id="inputGroup-sizing-default">Data
												Início:</span>
											<input type="date" class="form-control" aria-label="Sizing example input"
												th:field="*{activities[__${iterActivity.index}__].start}"
												aria-describedby="inputGroup-sizing-default">
										</div>
									</div>

									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text" id="inputGroup-sizing-default">Data
												Entrega:</span>
											<input type="date" class="form-control" aria-label="Sizing example input"
												th:field="*{activities[__${iterActivity.index}__].end}"
												aria-describedby="inputGroup-sizing-default">
										</div>
										<div class="text-danger" th:if="${#fields.hasErrors('end')}" th:errors="*{end}">
										</div>
									</div>

									<div class="d-flex justify-content-end mb-3">
										<a class="btn btn-success"
											th:href="@{/activity/presence-list?id=} + ${activity.id} + '&eventId=' + ${event.id}">Entregas
											e
											Atrasos</a>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center mb-3">
								<button class="btn btn-primary mt-2" onclick="addActivity()">Adicionar</button>
							</div>
						</div>
					</div>

					<div class="p-2 col-12 col-xxl-4">
						<div class="card text-white bg-secondary">
							<div class="card-header">
								<h2 class="h4 text-center">Grupos</h2>
							</div>
							<div class="card-body px-3" style="overflow-y: scroll; height:auto; max-height: 80vh;"
								group-container>

								<div card th:each="group, iterGroup: *{groups}" class="card p-1 pb-3 mb-3"
									th:id="'groups[' + ${iterGroup.index} + ']'">
									<div class="card-header">
										<div class="d-flex justify-content-between">
											<input type="hidden" th:field="*{groups[__${iterGroup.index}__].id}">
											<div>
												<div class="form-group">
													<div class="input-group mb-3">
														<span class="input-group-text"
															th:id="'inputGroup-group-name' + ${group.id}">Nome do
															Grupo:</span>
														<input type="text" class="form-control"
															th:field="*{groups[__${iterGroup.index}__].name}"
															th:attr="aria-describedby='input-group-name' + ${group.id}, aria-label='Input Name from group on position ' + ${iterGroup.index}">
													</div>
													<div class="text-danger" th:if="${#fields.hasErrors('name')}"
														th:errors="*{name}">
													</div>
												</div>
												<div class="form-group">
													<div class="input-group mb-3">
														<span class="input-group-text"
															th:id="'inputGroup-group-score' + ${group.id}">Pontuação:</span>
														<input type="text" class="form-control" disabled
														th:value="*{groups[__${iterGroup.index}__].score}"
															th:attr="aria-describedby='input-group-score' + ${group.id}, aria-label='Input Name from group on position ' + ${iterGroup.index}">
													</div>
													<div class="text-danger" th:if="${#fields.hasErrors('name')}"
														th:errors="*{name}">
													</div>
												</div>
											</div>

											<button class="btn btn-outline-danger align-self-center"
												onclick="removeCardGroup(this)">Remover</button>
										</div>
									</div>

									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text" id="gp-sch">Participantes:</span>
											<input type="search" class="form-control" aria-label="Sizing example input"
												aria-describedby="gp-sch" input-search>
										</div>
										<div class="search-result" search-container></div>
									</div>

									<div class="wrapper-table">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Letras</th>
													<th>Nome</th>
												</tr>
											</thead>
											<tbody table-body-container>
												<tr th:each="participant, iterPart : ${group.members}" class="table-row"
													onclick="this.parentNode.removeChild(this)">
													<td th:text="${participant.letters}" table-row-letters></td>
													<td th:text="${participant.name}" table-row-name></td>
													<td class="hidden" style="display:none">
														<input type="hidden" input-table-row
															th:field="*{groups[__${iterGroup.index}__].members[__${iterPart.index}__]}">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center mb-3">
								<button class="btn btn-primary" onclick="addGroup()">Adicionar</button>
							</div>
						</div>
					</div>

				</div>
				<div class="d-flex justify-content-center mt-1 mb-4">
					<button type="submit" class="btn btn-primary">Salvar Evento</button>
				</div>
			</form>
		</div>
	</div>

	<template activity-template>
		<div activity class="card p-1 mb-3">
			<div class="card-header">
				<div class="d-flex justify-content-between">
					<input type="hidden">
					<div class="form-group mb-3" activity-name>
						<label for="name" class="h5 text-dark">Nome da Atividade:</label>
						<input class="form-control" type="text" required>
					</div>
					<button class="btn btn-outline-danger align-self-center"
						onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode)">Remover</button>
				</div>
			</div>

			<div class="form-group mb-3" activity-start>
				<label for="start">Data Início:</label>
				<input class="form-control" type="date">
			</div>

			<div class="form-group mb-3" activity-end>
				<label for="end">Data Entrega:</label>
				<input class="form-control" type="date">
			</div>
		</div>
	</template>

	<template card-template>
		<div class="card-search-result text-dark" onclick="addParticipantOnGroupMembers(this)">
			<p style="display: none" card-id></p>
			<img src="" alt="" card-img>
			<p card-letters></p>
			<p card-name></p>
		</div>
	</template>

	<template group-template>
		<div card class="card p-1 pb-3 mb-3" id="groups[x]">
			<div class="card-header">
				<div class="d-flex justify-content-between">
					<div class="form-group">
						<label for="name" class="h5 text-dark">Nome:</label>
						<input class="form-control" type="text" input-group-name required name="groups[x].name">
					</div>
					<button class="btn btn-outline-danger align-self-center"
						onclick="removeCardGroup(this)">Remover</button>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group mb-3">
					<span class="input-group-text" id="gp-sch">Participantes:</span>
					<input type="search" class="form-control" aria-label="Sizing example input"
						aria-describedby="gp-sch" input-search>
				</div>
				<div class="search-result" search-container></div>
			</div>

			<div class="wrapper-table">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Letras</th>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody table-body-container>
					</tbody>
				</table>
			</div>
		</div>
	</template>

	<template members-row-template>
		<tr class="table-row text-success" table-row onclick="this.parentNode.removeChild(this)">
			<td table-row-letters></td>
			<td table-row-name></td>
			<td style="display: none;" table-row-input>
				<input type="hidden" input-table-row>
			</td>
		</tr>
	</template>

</div>

</html>