.search-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card-search-result {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.table-row:hover {
    background-color: rgb(240, 80, 80);
}
