<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ooopss...</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');

        body {
            height: 95vh;
            background: red;
            text-align: center;
            color: #E0E0E0;
            font-family: 'Fira Mono', monospace;
        }

        h1 {
            font-size: 2.5rem;
            font-family: 'Permanent Marker', cursive;
        }

    </style>
</head>

<body>
    <h1>Erro Inesperado</h1>
    <div>
        <div style="margin-bottom: 2%;">
            <a style="text-decoration: none; color: white;" href="/">Voltar ao inicio</a>
        </div>
        <div>
            <a style="text-decoration: none; color: white;" href="/auth/login.html">Voltar ao Login</a>
        </div>
    </div>
</body>

</html>